body {
    font-family: "Quicksand", sans-serif;
}

.category-holder {
 margin: 0 10%;
 padding: 30px 0;
 border-bottom: 1px dashed black;
}

.cards-holder {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background-color: #e4e4e4;
    border-radius: 8px;
    padding: 30px;
    .image-holder{
        text-align: center;
        img {
            width: 50%;
        }
    }
    span {
        font-weight: 700;
        text-transform: capitalize;
    }
}


